.Rproj.user
.Rhistory
.RData
.Rproj
.vscode
..Rcheck
scPipe.Rproj
inst/doc
src/*.o
src/*.so
sample_data/
scPipe-atac-output/
Rplots.pdf
.DS_Store
inst/extdata/small_chr21_R2_barcodes.txt
inst/extdata/small_chr21_R2_copy.fastq
inst/extdata/small_chr21_R2.fastq.gz
inst/extdata/annotations/